[user]
	email = vlad@banoffee.net
	name = Vlad Mereuță

[init]
	defaultBranch = main

[branch]
	autosetuprebase = always
	sort = -committerdate

[apply]
	whitespace = fix

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	trustctime = false
	precomposeunicode = false
	autocrlf = input
	editor = nvim
	pager = delta
	fsmonitor = true
	untrackedcache = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true
	syntax-theme = "ansi"
	file-style = "bold yellow ul"
	file-decoration-style = "none"
	hunk-header-decoration-style = "cyan box ul"

[merge]
	log = true
	conflictstyle = zdiff3
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[diff]
	renames = copies
	algorithm = histogram
	colorMoved = default
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[diff "bin"]
	textconv = hexdump -v -C

[rerere]
	enabled = true

[push]
	default = current
	followTags = true
	autoSetupRemote = true

[pull]
	rebase = true

[fetch]
	prune = true
	prunetags = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[alias]
	# Status & info
	s = status -sb
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	hist = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)    - %an%C(reset)%C(bold yellow)%d%C(reset)'
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	ds = diff --staged
	di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

	# Branch operations
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
	main = !git checkout main 2>/dev/null || git checkout master
	branches = branch -a --sort=-committerdate
	tags = tag -l
	remotes = remote -v

	# Commit
	ca = !git add -A && git commit -av
	amend = commit --amend --reuse-message=HEAD
	credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"
	wip = !git add -A && git commit -m "wip: work in progress"
	undo = reset --soft HEAD~1

	# Search
	fb = "!f() { git branch -a --contains $1; }; f"
	ft = "!f() { git describe --always --contains $1; }; f"
	fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
	fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

	# Cleanup
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	clean-merged = "!f() { git branch --merged | grep -v '\\*' | grep -v main | grep -v master | grep -v dev | xargs -n 1 git branch -d; }; f"
	nuke = !git reset --hard && git clean -f -d

	# Submodules
	p = !"git pull; git submodule foreach git pull origin main"
	c = clone --recursive

	# Contributors
	contributors = shortlog --summary --numbered
	count = !git shortlog -sn --all

	# Stash
	sl = stash list
	sp = stash pop
	ss = stash push -m

[color]
	ui = auto
	interactive = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[help]
	autocorrect = prompt

[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process

[column]
	ui = auto

[tag]
	sort = version:refname
